<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3> Edit your listing:</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div >    
            <label for="title" class="form-label">
                Title:
            </label>
        <input   name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
        <div class="invalid-feedback">Enter a Valid feedback</div>
    </div> <br>
    <div>
        <label for="description" class="form-label">
            Description:
        </label>  
    <textarea  class="form-control" name="listing[description]" required><%=listing.description%></textarea>
    <div class="invalid-feedback">enter a valid description</div>
</div>    
    <br>
    <div class="col-md-4"> 
     Original listing image: <br>
<img src="<%=originalImageUrl%>" height="<%= imageHeight %>" width="<%= imageWidth %>" >

</div>
   
    <div>
        <label for="image" class="form-label">
      Upload New image:  </label>
        <input  type="file" name="listing[image]" class="form-control" >
       
    </div><br>
    <div class="row ">
    <div class="col-md-4"> 
          <label for="price" class="form-label">
        Price:
    </label>
    <input  value="<%=listing.price%>" name="listing[price]" type="number" class="form-control" required>
    <div class="invalid-feedback">enter a valid Price </div>
</div>
     
        <br>
        <div class="col-md-8">
            <label for="country" class="form-label">Country:</label>
        <input   value="<%=listing.country%>"  name="listing[country]" type="text" class="form-control" required>
        
        <div class="invalid-feedback">enter a valid country</div>
        <br>
    </div>
</div>
    <div>
        <label for="location" class="form-label">Location:</label>
        <input   value="<%=listing.location%>"  name="listing[location]" type="text" class="form-control" required>
        <div class="invalid-feedback">enter a valid location </div>
    </div> <br>
        <button class="btn btn-dark add-btn">edit</button>
    </form>
</div>
</div>  

<script >
    (() => {
        'use strict'
      
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')
      
        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
      
            form.classList.add('was-validated')
          }, false)
        })
      })(); </script>
</body>

